body {
    font-family: Verdana;
    font-size: 12px;
    padding: 10px;
}
#chartdiv1 {
    width : 49%;
    height : 300px;
    font-size : 11px;
    float: left;
}
#chartdiv2 {
    width : 50%;
    height : 300px;
    font-size : 11px;
    float: left;
}
