{% extends "base.html" %}

{% block title %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>traderlist</title>
{% endblock title %}


{% block right %}
{% if traderitem %} 
<div class="container">
    <h2>TraderList</h2>
    <p>###</p>                                                                                      
    <table id="traderlist" class="table-striped table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>stockid-nm</th>
                <th>volume</th>
                <th>buyvolume</th>
                <th>sellvolume</th>
                <th>hit</th>
                <th>tradeprice</th>
                <th>tradevolume</th>
            </tr>
        </thead> 
        <tbody>
            {% for item in traderitem %}
            <tr>
                <th><a href="{{ item.traderid }}">{{ item.traderid }}-{{ item.tradernm }}</a></th>
                <th><a href="../../../../hisstock/{{ item.opt }}/{{ item.starttime }}/{{ item.endtime }}/{{ item.stockid }}">{{ item.stockid }}-{{ item.stocknm }}</a></th>
                <th>{{ item.totalvolume }}</th>
                <th>{{ item.totalbuyvolume }}</th>
                <th>{{ item.totalsellvolume }}</th>
                <th>{{ item.totalhit }}</th>
                <th>{{ item.totaltradeprice }}</th>
                <th>{{ item.totaltradevolume }}</th>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
</div>
{% endif %}
{% endblock right %}

{% block backtop %}
{% endblock backtop %}

{% block script %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.4/js/jquery.tablesorter.js"></script>
<! use jquery.tablesorter>
<script>
    $(document).ready(function() {
        $("#traderlist").tablesorter();
    });
</script>

{% endblock script %}
