{% extends "main/base.html" %}
{% load compress %}
{% load staticfiles %}

{% block page %}
{{ block.super }}
<!-- layout -->
<div class="row">
   <!-- {%include "handler/summary.html" %} -->
    {%include "handler/topbuy_piechart.html" %}
    {%include "handler/topsell_piechart.html" %}
</div>
{% endblock %}


{% block script %}
{{ block.super }}
<link rel="stylesheet" href="http://amcharts.com/lib/3/plugins/export/export.css">
<link rel="stylesheet" href="{% static 'css/jquery.dynatable.css' %}">
<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/plugins/export/export.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.dynatable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/plugins/histrader_detail.js' %}"></script>
<script type="text/javascript">
// <![CDATA[
window.onload=function(){
    var settings = giant_settings();
    //console.log(settings);
    AmCharts.ready(function () {});
    loadChartData(settings);
}
// ]]>
</script>
{% endblock %}
