{% load compress %}
{% load staticfiles %}

{% block stockdetail_table %}
<!-- stockdetail table  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Stock Table
                <div class="pull-right">
                    <div id="topmapbtn" class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">hide</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="stockdetail_table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>date</th>
                                <th>open</th>
                                <th>high</th>
                                <th>low</th>
                                <th>close</th>
                                <th>volume</th>
                                <th>finaused</th>
                                <th>bearused</th>
                                <th>future</th>
                                <th>event</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}