{% load compress %}
{% load staticfiles %}

{% block topbuy_piechart %}
    <style type='text/css'>
    #topbuy_piechart {
        width : 100%;
        height : 400px;
        font-size : 8px;
        float: middle;
    }
    </style>
    <!-- topbuy_piechart -->
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Top Buy
                <div class="pull-right">
                <a href="javascript:;" data-toggle="collapse" data-target="#topbuy_piechart"><i class="fa fa-fw fa-caret-down"></i></a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul id="topbuy_piechart"></ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
