{% load compress %}
{% load staticfiles %}

{% block topbuy_piechart %}
<style type='text/css'>
    #topbuy_piechart {
        width : 100%;
        height : 300px;
        font-size : 8px;
        float: middle;
    }
</style>
    <!-- topbuy_piechart -->
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Top Buy
                <div class="pull-right">
                    <div id="topbuybtn" class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdow">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">hide</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="topbuy_piechart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
