{% block search %}
<ul class="nav" id="side-menu">
    <li class="sidebar-search"> 
    <form class="form-horizontal" id="searchform" method="get">
        <!-- starttime -->
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
            <input class="form-control" id="starttime" type="text" placeholder="starttime"/>
        </div>
        <!-- endtime -->
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
            <input class="form-control" id="endtime" type="text" placeholder="endtime"/>
        </div>
        <!-- stockids -->
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
            <input class="form-control" id="stockids" type="text" placeholder="stockids: 2330,2317">
        </div>
        <!-- traderids -->
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
            <input class="form-control" id="traderids" type="text" placeholder="traderids: 1440,1470">
        </div>
        <!-- algorithm --> 
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-list-ol fa-fw"></i></span>
            <select class="form-control" id="algorithm">
                <option selected disabled>algorithm</option>
                <option>########</option>
            </select>
        </div>
        <!-- base --> 
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-list-ol fa-fw"></i></span>
            <select class="form-control" id="base">
                <option selected disabled>base</option>
                <option>########</option>
            </select>
        </div>
        <!-- search -->
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-coffee fa-fw"></i></span>
                <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i></button>
        </div>
    </form>
    </li>
</ul>

{% endblock search %}

{% block script %}
<script>
    <!-- not work for datepicker -->
    $(document).ready(function() {
        $("#starttime").datepicker({dateFormat: "yy/mm/dd"});
    });
</script>

{% endblock script %}
