<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="sidebar-search">
        <a href="javascript:;" data-toggle="collapse" data-target="#search"><i class="fa fa-fw fa-arrows-v"></i> Search <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="search" class="collapse">
            <form class="form-horizontal" id="searchform" action="./main/" method="get">
                {% csrf_token %}
                <!-- starttime -->
                <div class="input-group input-group-sm{% if form.starttime.errors %} has-error{% endif %}">
                    <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
                    <input type="text" class="form-control" id="{{ form.starttime.auto_id }}" name="{{ form.starttime.name }}" placeholder="{{ form.starttime.help_text }}" autocomplete="off">
                    {% for error in form.starttime.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <!-- endtime -->
                <div class="input-group input-group-sm{% if form.endtime.errors %} has-error{% endif %}">
                    <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
                    <input type="text" class="form-control" id="{{ form.endtime.auto_id }}" name="{{ form.endtime.name }}" placeholder="{{ form.endtime.help_text }}" autocomplete="off">
                    {% for error in form.endtime.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <!-- stockids -->
                <div class="input-group input-group-sm{% if form.stockids.errors %} has-error{% endif %}">
                    <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
                    <input type="text" class="form-control" id="{{ form.stockids.auto_id }}" name="{{ form.stockids.name }}" placeholder="{{ form.stockids.help_text }}" autocomplete="off">
                    {% for error in form.stockids.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <!-- traderids -->
                <div class="input-group input-group-sm{% if form.traderids.errors %} has-error{% endif %}">
                    <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
                    <input type="text" class="form-control" id="{{ form.traderids.auto_id }}" name="{{ form.traderids.name }}" placeholder="{{ form.traderids.help_text }}" autocomplete="off">
                    {% for error in form.traderids.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
                <!-- algorithm choice -->
                <div class="input-group input-group-sm{% if form.algorithm.errors %} has-error{% endif %}">
                    <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
                    <select class="form-control" id="{{ form.algorithm.auto_id }}" name="{{ form.algorithm.name }}">
                    {% for error in form.algorithm.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    {% for k, v in form.algorithm.field.choices %}
                    <option>{{ v|stringformat:"s" }}</option>
                    {% endfor %}
                    </select>
                </div>
                <!-- search -->
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-coffee fa-fw"></i></span>
                    <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i></button>
                </div>
            </form>
        </ul>
        </li>
        <li class="sidebar-portfilo">
        </li>
    </ul>
</div>

{% block script %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#{{ form.starttime.auto_id }}").datetimepicker({
            format: 'YYYY/MM/DD'
        });

        $("#{{ form.endtime.auto_id }}").datetimepicker({
            format: 'YYYY/MM/DD'
        });


    });
</script>
{% endblock %}
