{% block portfoilio_form %}
<li class="sidebar-portfoilo">
<a href="javascript:;" data-toggle="collapse" data-target="#portfoilo"><i class="fa fa-fw fa-arrows-v"></i> Portfolio <i class="fa fa-fw fa-caret-down"></i></a>
<ul id="portfoilo" class="collapse">
    <form class="form-horizontal" id="{{ portfolioform.auto_id }}" action="{% url 'router_portfolio' %}" method="get">
        {% csrf_token %}
        <!-- opt -->
        <div class="input-group input-group-sm{% if portfolioform.opt.errors %} has-error{% endif %}">
            <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
            <select class="form-control" id="{{ portfolioform.opt.auto_id }}" name="{{ portfolioform.opt.name }}">
                {% for error in portfolioform.opt.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
                {% for k, v in portfolioform.opt.field.choices %}
                <option>{{ v|stringformat:"s" }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- watchtime -->
        <div class="input-group input-group-sm{% if portfolioform.watchtime.errors %} has-error{% endif %}">
            <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
            <input type="text" class="form-control" id="{{ portfolioform.watchtime.auto_id }}" name="{{ portfolioform.watchtime.name }}" placeholder="{{ portfolioform.watchtime.help_text }}" autocomplete="off">
            {% for error in portfolioform.watchtime.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <!-- bufwin choice -->
        <div class="input-group input-group-sm{% if portfolioform.bufwin.errors %} has-error{% endif %}">
            <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
            <select class="form-control" id="{{ portfolioform.bufwin.auto_id }}" name="{{ portfolioform.bufwin.name }}">
                {% for error in portfolioform.bufwin.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
                {% for k, v in portfolioform.bufwin.field.choices %}
                <option>{{ v|stringformat:"s" }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- algorithm choice -->
        <div class="input-group input-group-sm{% if portfolioform.algorithm.errors %} has-error{% endif %}">
            <span class="input-group-addon"><i class="fa fa-list fa-fw"></i></span>
            <select class="form-control" id="{{ portfolioform.algorithm.auto_id }}" name="{{ portfolioform.algorithm.name }}">
                {% for error in portfolioform.algorithm.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
                {% for k, v in portfolioform.algorithm.field.choices %}
                <option>{{ v|stringformat:"s" }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- search -->
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><i class="fa fa-coffee fa-fw"></i></span>
            <button class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i></button>
        </div>
    </form>
</ul>
</li>
{% endblock %}

{% block script %}
{{ script.super }}
<script type="text/javascript">
    $(document).ready(function () {
        $("#{{ portfolioform.watchtime.auto_id }}").datetimepicker({
            format: 'YYYY/MM/DD'
        });
    });
</script>
{% endblock %}